{% extends 'blog/base.html' %}
{% block content %}
    <h1>About</h1>
    <article>
        <h5 class="">
            Simple Django, Bootstrap-styled blog app with functionalities including:
        </h5>
        <ul>
            <li>User Registration and Login</li>
            <li>Password Reset</li>
            <li>CRUD (Create, Read, Update, Delete) Posts</li>
            <li>Pagination</li>
            <li>Grouping Posts by atuhors</li>
        </ul>
    </article>
{% endblock content %}
